# Superstore PySpark Assignment
This notebook answers Questions 9–14 from the Module 1 Assignment using PySpark and the Superstore dataset.

In [2]:
# 1. Install Java Development Kit (JDK)
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

# 2. Download and Extract Spark
# Adjust Spark version as needed (e.g., spark-3.5.1-bin-hadoop3)
!wget -q https://archive.apache.org/dist/spark/spark-3.4.1/spark-3.4.1-bin-hadoop3.tgz
!tar -xvf spark-3.4.1-bin-hadoop3.tgz > /dev/null # Extract quietly

# 3. Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.4.1-bin-hadoop3" # Ensure this matches the extracted folder name

# 4. Install findspark and pyspark (if not already installed or to ensure latest)
!pip install findspark pyspark --upgrade -qq

# 5. Initialize findspark and Create SparkSession
import findspark
findspark.init()

from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("YourColabSparkApp").getOrCreate()

print("SparkSession created successfully!")
spark.catalog.listTables() # A quick test

# Now you can proceed with your original code:
# df = ... (your pandas DataFrame)
# spark_df = spark.createDataFrame(df)
# spark_df.show()

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 434.1/434.1 MB 2.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 203.0/203.0 kB 13.0 MB/s eta 0:00:00
  Building wheel for pyspark (setup.py) ... done
SparkSession created successfully!

[]

In [3]:
# Install Spark and Java (only needed on Colab)
!apt-get install openjdk-17-jdk-headless -qq > /dev/null
!wget -q https://downloads.apache.org/spark/spark-3.4.1/spark-3.4.1-bin-hadoop3.tgz
!tar xf spark-3.4.1-bin-hadoop3.tgz
!pip install -q findspark

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-17-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.4.1-bin-hadoop3"

import findspark
findspark.init()

In [10]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import avg, max as spark_max, count, expr
from pyspark.sql.types import DoubleType
from pyspark.sql.functions import expr
import pandas as pd

# Initialize Spark
spark = SparkSession.builder.appName("SuperstoreAssignment").getOrCreate()

In [11]:
# Replace with your actual raw GitHub CSV URL
# csv_url = "https://raw.githubusercontent.com/SamuelBoye/assignments/refs/heads/main/Superstore-2.csv"

# Download the file
!wget -O Superstore.csv $csv_url

df = pd.read_csv('https://www.dropbox.com/scl/fi/yjb7qiivbobpg56auoqet/Superstore.csv?rlkey=fjm37jmewusgwn14a7mdhnrjy&dl=1')


# # Read into Spark
# df = spark.read.csv("Superstore.csv", header=True, inferSchema=True)
df = spark.createDataFrame(df)

# Cast numeric fields
df = df.withColumn("Sales", expr("try_cast(Sales as double)"))
df = df.withColumn("Profit", expr("try_cast(Profit as double)"))

# Preview data
df.show(5)

--2025-06-02 20:43:43--  https://raw.githubusercontent.com/SamuelBoye/assignments/refs/heads/main/Superstore-2.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2167101 (2.1M) [text/plain]
Saving to: ‘Superstore.csv’

Superstore.csv      100%[===================>]   2.07M  7.17MB/s    in 0.3s

2025-06-02 20:43:44 (7.17 MB/s) - ‘Superstore.csv’ saved [2167101/2167101]

+--------------------+---------+---------+-----------+------------------+----------------+---------------+--------+-------+--------------------+-----------------+----------+--------+--------------+--------------+-----------+-------------------+------+-------+----------+-----+----------+-----------+-------------+-----------+----------+
|            Category|     City|Container|Customer ID|     Customer Name|Customer Segment|     Department|Discount|Item ID|                Item|Number of Records|Order Date|Order ID|Order Priority|Order Quantity|Postal Code|Product Base Margin|Profit| Region|    Row ID|Sales| Ship Date|  Ship Mode|Shipping Cost|      State|Unit Price|
+--------------------+---------+---------+-----------+------------------+----------------+---------------+--------+-------+--------------------+-----------------+----------+--------+--------------+--------------+-----------+-------------------+------+-------+----------+-----+----------+-----------+-------------+-----------+----------+
|               Paper|  Lombard|Small Box|       3035|       Mark Bailey|     Home Office|Office Supplies|    0.01|  10074|Hammermill CopyPl...|                1| 11/7/2017|   89128|           Low|            10|      60148|               0.36| -76.0|Central|11/18/1951| 53.0| 11/9/2018|Regular Air|            5|   Illinois|         5|
|               Paper|  Lombard| Wrap Bag|       3035|       Mark Bailey|     Home Office|Office Supplies|    0.04|  10079|Telephone Message...|                1|11/10/2015|   89128|           Low|            12|      60148|               0.39|  52.0|Central|11/19/1951| 76.0|11/12/2016|Regular Air|            1|   Illinois|         6|
| Pens & Art Supplies|Southbury| Wrap Bag|       3385|   Daniel Richmond|       Corporate|Office Supplies|    0.04|  11012|Premium Writing P...|                1|11/22/2016|   88745|           Low|             5|       6488|               0.57| -22.0|   East|  3/1/1961| 16.0|11/23/2017|Express Air|            2|Connecticut|         3|
|Binders and Binde...|Coachella|Small Box|       3133|Kristine Singleton|       Corporate|Office Supplies|     0.1|  10646|Fellowes Black Pl...|                1| 1/12/2017|   86789|        Medium|            12|      92236|               0.39|-350.0|   West| 6/27/1961| 65.0| 1/25/2018|Regular Air|            8| California|         6|
|        Rubber Bands|Coachella| Wrap Bag|       3133|Kristine Singleton|       Corporate|Office Supplies|    0.03|  10138|Assorted Color Pu...|                1| 1/12/2017|   86789|        Medium|            10|      92236|               0.52|   4.0|   West| 6/28/1961| 19.0| 1/25/2018|Regular Air|            1| California|         2|
+--------------------+---------+---------+-----------+------------------+----------------+---------------+--------+-------+--------------------+-----------------+----------+--------+--------------+--------------+-----------+-------------------+------+-------+----------+-----+----------+-----------+-------------+-----------+----------+
only showing top 5 rows

### Q9: Who is the customer that generated the most sales?

In [6]:
top_customer = df.groupBy("Customer Name").sum("Sales").orderBy("sum(Sales)", ascending=False)
top_customer.show(1)

+------------------+----------+
|     Customer Name|sum(Sales)|
+------------------+----------+
|Joshua N. Milligan|  123748.0|
+------------------+----------+
only showing top 1 row

### Q10: Highest average sales per transaction for any city

In [7]:
avg_sales = df.groupBy("City").agg(avg("Sales").alias("avg_sales")).orderBy("avg_sales", ascending=False)
avg_sales.show(1)

+----------+---------+
|      City|avg_sales|
+----------+---------+
|Barrington|   7029.0|
+----------+---------+
only showing top 1 row

### Q11: Highest total profit for any item

In [12]:
# Q11: Total profit per item, then find the highest
from pyspark.sql.functions import sum as spark_sum

df.groupBy("Item") \
  .agg(spark_sum("Profit").alias("total_profit")) \
  .orderBy("total_profit", ascending=False) \
  .show(1)

+--------------------+------------+
|                Item|total_profit|
+--------------------+------------+
|Global Troy� Exec...|     79506.0|
+--------------------+------------+
only showing top 1 row

### Q12: Largest number of transactions for any combination of state and customer segment

In [13]:
from pyspark.sql.functions import countDistinct

df.groupBy("State", "Customer Segment") \
  .agg(countDistinct("Order ID").alias("unique_transactions")) \
  .orderBy("unique_transactions", ascending=False) \
  .show(1)

+-----+----------------+-------------------+
|State|Customer Segment|unique_transactions|
+-----+----------------+-------------------+
|Texas|       Corporate|                249|
+-----+----------------+-------------------+
only showing top 1 row

### Q13: Highest average profit for any city-state combination

In [14]:
from pyspark.sql.functions import col

# Filter out known corrupted state values
df_clean = df.filter(~col("State").isin("Regular Air", "Express Air", "Delivery Truck", "Second Class", "First Class"))

# Register new clean temp view
df_clean.createOrReplaceTempView("superstore")

# Now rerun Q13 query
spark.sql("""
SELECT City, State, ROUND(AVG(Profit), 2) AS avg_profit
FROM superstore
WHERE City IS NOT NULL AND State IS NOT NULL AND Profit IS NOT NULL
GROUP BY City, State
ORDER BY avg_profit DESC
LIMIT 1
""").show()

+------------+-------+----------+
|        City|  State|avg_profit|
+------------+-------+----------+
|Douglasville|Georgia|    5379.0|
+------------+-------+----------+