# Superstore PySpark Assignment
This notebook answers Questions 9–14 from the Module 1 Assignment using PySpark and the Superstore dataset.

In [44]:
# Install Spark and Java (only needed on Colab)
!apt-get install openjdk-17-jdk-headless -qq > /dev/null
!wget -q https://downloads.apache.org/spark/spark-3.4.1/spark-3.4.1-bin-hadoop3.tgz
!tar xf spark-3.4.1-bin-hadoop3.tgz
!pip install -q findspark

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-17-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.4.1-bin-hadoop3"

import findspark
findspark.init()

tar: spark-3.4.1-bin-hadoop3.tgz: Cannot open: No such file or directory
tar: Error is not recoverable: exiting now

In [45]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import avg, max as spark_max, count, expr
from pyspark.sql.types import DoubleType
from pyspark.sql.functions import expr

# Initialize Spark
spark = SparkSession.builder.appName("SuperstoreAssignment").getOrCreate()

In [50]:
# Replace with your actual raw GitHub CSV URL
csv_url = "https://raw.githubusercontent.com/SamuelBoye/assignments/refs/heads/main/Superstore-2.csv"

# Download the file
!wget -O Superstore.csv $csv_url

# Read into Spark
df = spark.read.csv("Superstore.csv", header=True, inferSchema=True)

# Cast numeric fields
df = df.withColumn("Sales", expr("try_cast(Sales as double)"))
df = df.withColumn("Profit", expr("try_cast(Profit as double)"))

# Preview data
df.show(5)

--2025-06-02 20:00:58--  https://raw.githubusercontent.com/SamuelBoye/assignments/refs/heads/main/Superstore-2.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2167101 (2.1M) [text/plain]
Saving to: ‘Superstore.csv’

Superstore.csv      100%[===================>]   2.07M  --.-KB/s    in 0.07s

2025-06-02 20:00:59 (28.0 MB/s) - ‘Superstore.csv’ saved [2167101/2167101]

+--------------------+-----------+---------+-----------+--------------------+----------------+---------------+--------+-------+--------------------+-----------------+----------+--------+--------------+--------------+-----------+-------------------+--------+------+----------+------+----------+--------------+-------------+--------------+----------+
|            Category|       City|Container|Customer ID|       Customer Name|Customer Segment|     Department|Discount|Item ID|                Item|Number of Records|Order Date|Order ID|Order Priority|Order Quantity|Postal Code|Product Base Margin|  Profit|Region|    Row ID| Sales| Ship Date|     Ship Mode|Shipping Cost|         State|Unit Price|
+--------------------+-----------+---------+-----------+--------------------+----------------+---------------+--------+-------+--------------------+-----------------+----------+--------+--------------+--------------+-----------+-------------------+--------+------+----------+------+----------+--------------+-------------+--------------+----------+
|Telephones and Co...|   Gastonia|Small Box|       1738|        Dean Solomon|       Corporate|     Technology|    0.08|  10631|          Item 10631|                1| 9/11/2017|   85865|        Medium|            10|      28052|               0.59|-16477.0| South| 2/12/1950|1486.0| 9/19/2018|   Regular Air|            5|North Carolina|       176|
|Binders and Binde...|Hattiesburg|Small Box|       1632|          Lori Wolfe|     Home Office|Office Supplies|    0.01|  10498|Large Capacity Ha...|                1|11/27/2016|   90534|           Low|             3|      39401|               0.39|-14369.0| South|  6/1/1957|  81.0|11/30/2017|   Regular Air|            3|   Mississippi|        25|
|     Office Machines| Des Moines|Large Box|       2855|        Vicki Womble|        Consumer|     Technology|    0.09|  10538|Polycom ViewStati...|                1| 2/18/2017|   87317|           Low|             1|      98198|               0.39|-14141.0|  West| 7/21/1963|6296.0| 2/19/2018|   Regular Air|           24|    Washington|      6783|
|           Bookcases|  Coachella|Jumbo Box|       1793|      Derek Jernigan|     Home Office|      Furniture|    0.04|  11234|Riverside Palais ...|                1|  1/6/2014|   87853|      Critical|             8|      92236|               0.62|-13706.0|  West|  4/9/1958|6969.0|  1/6/2016|Delivery Truck|           45|    California|       881|
|     Office Machines|    Bozeman|Large Box|       2004|James Dickinson Ball|     Home Office|     Technology|    0.04|  10538|Polycom ViewStati...|                1| 9/21/2016|   91277|        Medium|             1|      59715|               0.39|-13563.0|  West|11/30/1965|6569.0| 9/22/2017|   Regular Air|           24|       Montana|      6783|
+--------------------+-----------+---------+-----------+--------------------+----------------+---------------+--------+-------+--------------------+-----------------+----------+--------+--------------+--------------+-----------+-------------------+--------+------+----------+------+----------+--------------+-------------+--------------+----------+
only showing top 5 rows

### Q9: Who is the customer that generated the most sales?

In [12]:
top_customer = df.groupBy("Customer Name").sum("Sales").orderBy("sum(Sales)", ascending=False)
top_customer.show(1)

+------------------+----------+
|     Customer Name|sum(Sales)|
+------------------+----------+
|Joshua N. Milligan|  123748.0|
+------------------+----------+
only showing top 1 row

### Q10: Highest average sales per transaction for any city

In [13]:
avg_sales = df.groupBy("City").agg(avg("Sales").alias("avg_sales")).orderBy("avg_sales", ascending=False)
avg_sales.show(1)

+----------+---------+
|      City|avg_sales|
+----------+---------+
|Barrington|   7029.0|
+----------+---------+
only showing top 1 row

### Q11: Highest total profit for any item

In [19]:
# Q11: Total profit per item, then find the highest
from pyspark.sql.functions import sum as spark_sum

df.groupBy("Item") \
  .agg(spark_sum("Profit").alias("total_profit")) \
  .orderBy("total_profit", ascending=False) \
  .show(1)

+------------+------------+
|        Item|total_profit|
+------------+------------+
|Imation 3.5"|   1207461.0|
+------------+------------+
only showing top 1 row

### Q12: Largest number of transactions for any combination of state and customer segment

In [54]:
from pyspark.sql.functions import countDistinct

df.groupBy("State", "Customer Segment") \
  .agg(countDistinct("Order ID").alias("unique_transactions")) \
  .orderBy("unique_transactions", ascending=False) \
  .show(1)

+-----+----------------+-------------------+
|State|Customer Segment|unique_transactions|
+-----+----------------+-------------------+
|Texas|       Corporate|                246|
+-----+----------------+-------------------+
only showing top 1 row

### Q13: Highest average profit for any city-state combination

In [53]:
from pyspark.sql.functions import col

# Filter out known corrupted state values
df_clean = df.filter(~col("State").isin("Regular Air", "Express Air", "Delivery Truck", "Second Class", "First Class"))

# Register new clean temp view
df_clean.createOrReplaceTempView("superstore")

# Now rerun Q13 query
spark.sql("""
SELECT City, State, ROUND(AVG(Profit), 2) AS avg_profit
FROM superstore
WHERE City IS NOT NULL AND State IS NOT NULL AND Profit IS NOT NULL
GROUP BY City, State
ORDER BY avg_profit DESC
LIMIT 1
""").show()

+------------+-------+----------+
|        City|  State|avg_profit|
+------------+-------+----------+
|Douglasville|Georgia|    5379.0|
+------------+-------+----------+

In [51]:
df.filter(df.City == "Troutdale").select("City", "State", "Ship Mode", "Profit").show()

+---------+-----------+--------------+-------+
|     City|      State|     Ship Mode| Profit|
+---------+-----------+--------------+-------+
|Troutdale|     Oregon|   Regular Air| -773.0|
|Troutdale|Regular Air|            10|97060.0|
|Troutdale|     Oregon|   Regular Air|    1.0|
|Troutdale|     Oregon|   Regular Air|  990.0|
|Troutdale|     Oregon|Delivery Truck| 4749.0|
+---------+-----------+--------------+-------+